/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.idea/
_ide_helpers.php
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
config.codekit
.sass-cache/
/src/config.php