/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db
.idea/.name

.idea/bookabilityL4.iml

.idea/encodings.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml
